@import "shared";

.sequencer {
  flex: 1 1 auto;
  background: $color--teal;
  padding: $spacing--medium;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.step {
  $step-size: 8rem;

  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $step-size;
  height: $step-size;
  text-align: center;
  background: $color--orange;
  font-size: $font-size--large;
  margin: $spacing--medium;

  &.active {
    border: 10px solid darken($color--orange, 20%);
  }
}
