@import "shared";

.control-panel {
  flex: 0 0 auto;
  background: $color--orange;
  border-bottom: 10px solid darken($color--orange, 15%);
  padding: $spacing--medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tempo-control {
  margin-right: $spacing--small;
}
