@import "shared";

:global body {
  padding: 0;
  margin: 0;
  font-size: $font-size--normal;
  color: $color--text;
}

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
