$color--teal: #06e3cf;
$color--orange: #f6d138;
$color--pink: #f41fdc;
$color--text: #292929;

$spacing--xsmall: 0.5rem;
$spacing--small: 1rem;
$spacing--medium: 2rem;

$font-size--normal: 16px;
$font-size--large: 20px;
